body {
background-color: #000000;}

h1 {
text-align: center;

font-size: xx-large;

font-family: monospace;




}
h2 {
    color: #4A2C2A;
text-align: center;
font-size: x-large;
font-family: monospace;
}
p {
text-align: center;
font-size: x-large;
font-family: monospace;
}
a
{ text-align: center;}